{% extends 'base.html' %}
{% load static %}

{% comment %} برای اضافه کردن فایل های css  {% endcomment %}
{% block CSS %}
    <link rel="stylesheet" href="{% static 'accounts/register.css' %}">
{% endblock CSS %}

{% comment %} برای اضافه کردن فایل های title  {% endcomment %}
{% block title %}
    ثبت نام در سایت
{% endblock title %}

{% comment %} برای اضافه کردن فایل های body  {% endcomment %}
{% block body %}
<div class="container">
    <div class="wrapper">
        <p  class='Image'>
            <img src="{% static 'media/1.png' %}" style="width:200px" alt="">
        </p>

        <div class="register">
            <form action="" method="post" class="formRegister">
                {% csrf_token %}
                <p  class='InputText'>
                    <input type="text" name="first_name"  placeholder="نام">
                </p>

                <p class='InputText'>
                    
                    <input type="text" name="last_name" placeholder=" نام خانوادگی">
                </p>

                <p class='InputText'>
                    
                    <input type="text" name="user_name" placeholder="نام کاربری">
                </p>

                <p class='InputText'>
                    
                    <input type="password" name="password_1" placeholder="رمز عبور">
                </p>
                
                <p class='InputText'>
                    
                    <input type="password" name="password_2" placeholder="تکرار رمز عبور">
                </p>

                <p class='InputText'>
                    
                    <input type="text" name="referer" placeholder=" کد معرف">
                </p>
                
                <div class='buttonParent'>
                    <button type="submit" class="buttonStyle"> ثبت نام </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}
