
*{
    margin: 0;
    padding: 0;
    direction: rtl;
}

.container{
    width:100vw;
    height:100vh;
    background:linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)), url("./media/clothing.jpg") center;
    display:flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wrapper{
    border: 2px #8c867e solid;
    padding: 25px;
    background-color: rgba(130, 133, 127, 0.91);
    border-radius: 10%;
  
}

.register {
    display: flex;
}

.formRegister{

}

.Image{
    display: flex;
    justify-content: center;
}

.InputText {
    margin-bottom: 10px;
}

.InputText input{
    text-align: center;
    height: 30px;
    width: 300px;
    background-color: #b4b4ab;
    color:black
}
.buttonParent{
    display: flex;
    justify-content: center;
}

.buttonStyle{
    width: 41%;
    height: 2.5rem;
    background-color: #1c1a1a;
    color: wheat;

}

@media only screen and (max-width: 450px) {
    *{
        margin: 0;
        padding: 0;
        direction: rtl;
    }

    .wrapper{
        
        width: 160px;
      
    }

    .InputText input{
        width: 170px;
    }
  }