.container-detail{
    
    direction: rtl;
}
.mainDtail{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;

}

.imageDetail{
    display: block;
}

.main-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 450px;
    height: 450px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.main-image img{
    width: 400px;
    height: 400px;
}
.main-image img:hover{
    transform: scale(1.5);
}

.galleryImage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.galleryImage img{
    width:100px;
    height: 100px;
    margin-right: 20px;
    border: 1px solid black;
}

.thumbImage{
    opacity: .5;
}

.active{
    opacity: 1;
}

.like-favorite{
    display: flex;
    justify-content: center;
    text-align: center;
}

.like-favorite p{
    margin-right: 20px;
    font-size: 30px;
}

.iformationDetail{
    flex: 1;
    margin-right: 30px;
    margin-top: 60px;
}

.nameProduct{
    font-size: 30px;
    font-weight: 800;
}

.feature-product{
    font-weight: 700;
    margin-top: 20px;
}

.information-product{
    margin:10px 15px;
}


.discount-product span{
    font-size: 20px;
    font-weight: 700;
}
.discount-product span .percentage{
    font-size: 20px;
    font-weight: 500;
}

.title-price{
    font-size: 20px;
    font-weight: 700;
}

.unit-price{
    text-decoration: line-through 3px red;
    font-size: 25px;
}

.total-price1{
    font-size: 30px;
    font-weight: 500;
    margin-right: 20px;
    color:#245d18;
}
.total-price2{
    font-size: 30px;
    font-weight: 500;
    color:#245d18;
}



.color-size-product{
    display: flex;
}

.colors{
    display: flex;
}

.colors span{
    font-size:22px;
    font-weight: 600;
}
.color-ul{
    display: flex;
    list-style-type: none;
    margin-top: 9px;
}
.color-ul li{
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.sizes{
    margin-right: 20px;
}
.sizes span{
    font-size:22px;
    font-weight: 600;
}

.sizes select{
    width: 80px;
    height: 2rem;
    text-align: center;
}

.like-product{
    display: flex;
}

.like-product h4{
    text-align: center;
    margin-right: 5px;
    margin-top: 3px;
    font-size: 18px;

    text-decoration: none;
}

.like-product ul{
    list-style-type: none;
    display: flex;
}

.like-product ul a{
    color: black;
    text-decoration: none;
}

.like-product ul li{
    font-size: 25px;
}

.like{
    margin:2px 20px 0px 0px;
}
#like1{
    color: red;
}



.similarProductWrapper{
    display: flex;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    background-color: #F7ECDE;
    transition: all 1.5s ease-in-out;
    padding:20px 40px;
    
}

.next{
    
    position: absolute;
    text-align: center;
    left: 1%;
    margin: auto;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(0,0,0,.5);
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    
}
.back{
    position: absolute;
    text-align: center;
    right: 1%;
    margin: auto;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(0,0,0,.5);
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    
}

.productItem{
    margin-right: 10px;
}


.title{
    display: flex;
    justify-content: center;
    align-items: center;
}


.commentsStarRate{
    display: flex;
    list-style-type: none;
    justify-content: center;
    text-align: center;
}

.commentsStarRate li{
    margin-right:3px
}

.starRateActive{
    color: gold;
}

.commentProduct{
    width: 100%;
    background-color: #F7ECDE;
    display: flex;
    justify-content: center;
    padding: 20px;
}


.comments{
    width: 300px;
    height: 300px;
    background-color: #E9DAC1;
    margin-right: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.commentField{
    margin:10px 0px;
    -webkit-box-shadow: -2px 3px 19px 14px rgba(0,0,0,0.24); 
    box-shadow: -2px 3px 19px 14px rgba(0,0,0,0.24);
    background-color: #F1FFFE;
    text-align: center;
}
.commentField::placeholder{
    color: black;
}

.BTNComment{
    display: flex;
    justify-content: center;
    
}



.BTNComment button{
    width: 100px;
    height: 2rem;
}

.showCommentCantainer{
    background-color: #F7ECDE;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.showCommentWrapper{
    width: 60%;
    background-color: gray;
    padding: 20px;
    margin-bottom: 20px;
}
.showCommentItem{
    margin:5px 10px 0px 0px;
    background-color: #d8d6d6;
    padding: 25px;
    border-right: 2px solid black; 
    width:90%
}

.infoUserComment{
    display: flex;
    place-content: space-between;
}
.UserComment{
    margin:10px 10px 20px 0px ;
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.UserCommentFooter{
    display: flex;
    float: left;
    margin-top: -12px;

    
}
.UserCommentFooter span{
    font-size: 20px;
    margin-right: 20px;
}




.ReplayContainer{
    align-items: center;
    justify-content: center;
    margin: 20px;
    display: none;
}



.ReplayIcon{
    cursor: pointer;
}


.showReplayItem{
    margin:5px 40px 0px 0px;
    background-color: #d8d6d6;
    padding: 25px;
    border-right: 2px solid green; 
    width:70%;
    display: flex;
}

.ReplayShow{
    cursor: pointer;
}

.activeShow{
    display: flex;
}

.infoUserReplay{
    font-size: 12px;

}

.UserReplay{
    margin:10px 10px 0px 0px ;
    color: black;
    font-size: 20px;
    font-weight: 400;
}